<%= link_to "新規投稿",new_micropost_path , class:"btn page-link text-dark d-inline-block" %></p>

<% if@microposts.any? %>
 <%= paginate @microposts %>
 <%= page_entries_info @microposts%>
 
  <ol class="microposts">
    <%= render @microposts%>
  </ol>
  <%= paginate @microposts %>
  <% end %>