

<li=id="micropost-<%= micropost.id %>">
  <span class="imge"><%= image_tag micropost.picture.url if micropost.picture? %></span>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="title"><%= micropost.title %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> 
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "投稿を削除しますか?" } %>
    <% end %>
  </span>
</li>